<a href="https://colab.research.google.com/github/sakina19/MajorProject-1-and-2/blob/main/MajorProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
# MAJOR PROJECT 1

In [7]:
# dataset url - https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_9_predict_weight_sex/weight-height.csv

In [31]:
# Creating a dataframe
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_9_predict_weight_sex/weight-height.csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [33]:
df.shape

(10000, 3)

In [34]:
df.size

30000

In [35]:
# Here , we convert gender to number 
df['Gender'].replace('Female',0,inplace=True)
df['Gender'].replace('Male',1,inplace=True)
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [36]:
# Input - 2 dimensional 
# Input -> gender and height
# output -> age

In [37]:
x = df.iloc[:,0:2]
y = df.iloc[:,2]
x

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
9995       0  66.172652
9996       0  67.067155
9997       0  63.867992
9998       0  69.034243
9999       0  61.944246

[10000 rows x 2 columns]

In [66]:
# Train and Test variables - train_test_split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 0)

In [67]:
print(x.shape)  
print(x_train.shape)    
print(x_test.shape)

(10000, 2)
(8000, 2)
(2000, 2)

In [68]:
print(y.shape) 
print(y_train.shape) 
print(y_test.shape)

(10000,)
(8000,)
(2000,)

In [69]:
# APPLYING CLASSIFIER OR REGRESSOR
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [70]:
# FITTING THE MODEL
model.fit(x_train,y_train)

LinearRegression()

In [71]:
# PREDICT THE OUTPUT
y_pred = model.predict(x_test)
y_pred                # PREDICTED OUTPUT

array([141.93828842, 176.55658781, 219.77836195, ..., 149.97129636,
       166.83374903, 138.87940678])

In [72]:
# ACTUAL OUTPUT
y_test

9394    138.085796
898     187.363366
2398    216.533191
5906    131.761443
2343    157.718438
           ...
1037    189.856786
2899    202.906859
9549    152.420031
2740    170.100647
6690    158.206206
Name: Weight, Length: 2000, dtype: float64

In [73]:
# ACCURACY
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)*100

89.42026073927826

In [75]:
# PREDICTING THE WEIGHT
model.predict([[0,74]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([197.2481918])

In [79]:
model.predict([[1,60]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([133.19547206])